node_modules
*/node_modules
*/.idea
monitoringApp/.idea/caches/build_file_checksums.ser
monitoringApp/.idea/misc.xml
farmGame/.idea/runConfigurations.xml
monitoringApp/.idea/gradle.xml
monitoringApp/.idea/runConfigurations.xml
monitoringApp/.idea/caches/build_file_checksums.ser
farmGame/.idea/runConfigurations.xml
monitoringApp/.idea/gradle.xml
monitoringApp/.idea/misc.xml
monitoringApp/.idea/caches/build_file_checksums.ser
monitoringApp/.idea/runConfigurations.xml
